@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* background-image: url(../img/dashboard-project.png); */
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(34, 34, 34);
    background-color: #E3E8EF;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    --primary-blue: #4291ce;
    --container-height: calc(100vh - 165px - 28px - 50px - 50px);
}

.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 4fr;
}

.sidebar {
    background-color: var(--primary-blue);
    display: grid;
    grid-template-rows: 80px 1fr;
}

.sidebar .logo,
.sidebar .nav-item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.logo {
    align-items: center;
}


.logo-image {
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

.logo-image::before {
    content: '';
    -webkit-mask: url(../img/view-dashboard.svg) no-repeat 50% 50%;
    mask: url(../img/view-dashboard.svg)no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: white;
    mask-position: center;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.logo-name {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.side-nav {
    padding-top: 17px;
}

.nav-item {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    height: 2.9rem;
}

.nav-img {
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: white;
    mask-position: center;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.nav-img {
    justify-self: center;
}

.home {
    -webkit-mask: url(../img/home.svg) no-repeat 50% 50%;
    mask: url(../img/home.svg)no-repeat 50% 50%;
}

.profiler {
    -webkit-mask: url(../img/account.svg) no-repeat 50% 50%;
    mask: url(../img/account.svg)no-repeat 50% 50%;
}

.message {
    -webkit-mask: url(../img/message.svg) no-repeat 50% 50%;
    mask: url(../img/message.svg)no-repeat 50% 50%;
}

.history {
    -webkit-mask: url(../img/clock.svg) no-repeat 50% 50%;
    mask: url(../img/clock.svg)no-repeat 50% 50%;
}

.task {
    -webkit-mask: url(../img/card.svg) no-repeat 50% 50%;
    mask: url(../img/card.svg)no-repeat 50% 50%;
}

.community {
    -webkit-mask: url(../img/group.svg) no-repeat 50% 50%;
    mask: url(../img/group.svg)no-repeat 50% 50%;
}

.settings {
    -webkit-mask: url(../img/settings.svg) no-repeat 50% 50%;
    mask: url(../img/settings.svg)no-repeat 50% 50%;
}

.support {
    -webkit-mask: url(../img/question.svg) no-repeat 50% 50%;
    mask: url(../img/question.svg)no-repeat 50% 50%;
}

.privacy {
    -webkit-mask: url(../img/shield.svg) no-repeat 50% 50%;
    mask: url(../img/shield.svg)no-repeat 50% 50%;
}

.second-menu {
    margin-top: 40px;
}

.main {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 165px auto;
}

.header {
    background-color: #fff;
    box-shadow: 0 3px rgba(0,0,0,0.3);
    display: grid;
    grid-template-rows: 80px 1fr;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 270px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    gap: 110px;
}

.search-input {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.search-input input {
    border-radius: 15px;
    appearance: none;
    border: 0;
    background-color: #eee;
    width: 100%;
    height: 30px;
}

.search {
    grid-column: 2/-1;
}

.search-img {
    height: 22px;
}

.search-img img {
  width: 22px; 
  opacity: 0.8; 
}


.reminders {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 22px 45px 5fr;
    gap: 30px;
    align-items: center;
    font-weight: bold;
}

.reminders .bell {
    height: 22px;
}

.reminder-avatar {
    border-radius: 100%;
    background-color: yellow;
    height: 45px;
    width: 45px;
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.top-nav-buttons {
    justify-self: end;
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,auto);
}

.top-nav-buttons button {
    appearance: none;
    background-color: var(--primary-blue);
    color: #fff;
    border: 0;
    box-shadow: 0;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 0;
    width: 90px;
    font-size: 0.8em;

}

.profile {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 70px 1fr;
    gap: 20px;
}

.profile-info {
    display: grid;
    align-content: center;
}

.profile-info span {
    font-size: 0.8rem;
    font-weight: bold;
}

.profile-info span:nth-child(2) {
    font-size: 1.4rem;
}

.profile-info span:nth-child(2)::before {
    content: '';
    display: block;
    clear: both;
}

.profile .avatar {
    height: 70px;
    border-radius: 100%;
    background-color: yellow;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    padding: 25px 25px 50px;
    gap: 15px;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.cards-container {
    display: grid;
    grid-template-rows: 34px 1fr;
}

.cards-container h2 {
    height: 1.2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 25px;
    /* overflow: scroll;
    height: var(--container-height); */
    padding-right: 10px;
    
    /* align-items: stretch; */
}

.card {
    background-color: #fff;
    border-left: 8px solid #ff9900;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    display: grid;
    align-content: space-between;
}

.card p {
    color: grey;
    font-size: 0.9rem;
    margin-top: 5px;
}

h4 {
    margin: 0;
    
}

.card-buttons {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,auto);
    justify-content: right;
    justify-items: right;
    gap: 30px;
}

.card-buttons div {
    padding: 10px 0;
    text-align: right;
}

.star::before,
.watch::before,
.fork::before {
    display: inline-block;
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.star::before {
    content:  url('../img/star.svg');

}

.watch::before {
    content:  url('../img/eye.svg');
}

.fork::before {
    content:  url('../img/fork.svg');
}

.aside {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.aside h2 {
    display: inline-block;
    height: 1.2rem;
}

.aside h5,
.aside p {
    margin: 0;
}

.aside h5 {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.trending {
    display: grid;
    grid-template-rows: calc(1.2rem + 20px) 1fr;
}

.announcements-content,
.trending-content {
    display: grid;
    grid-auto-flow: column;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    overflow: scroll;
    grid-template-columns: 1fr;
}

.announcements-content {
    grid-template-rows: repeat(3,auto);
    margin-bottom: 20px;
}

.announcements-content p {
    font-size: 0.7rem;
    color: grey;
}



.announcements-content ul li:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: grey;
    margin: 15px 0;
}

.user {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.user-avatar {
    background-color: yellow;
    border-radius: 100%;
    height: 50px;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
}

.user-content span {
    display: block;
}

.user-fullname {
    text-transform: capitalize;
    color: grey;
}


.trending-content {
    padding: 20px;
    font-size: 0.8rem;
    grid-template-rows: repeat(4,auto);
    gap: 20px;
}

.user-username {
    margin-bottom: 2px;
}

.user-fullname {

}